{% extends "news/base.html" %}
{% load static %}

{% block title %} Profil {% endblock %}
{% block content %}
<div class="container">
    <h2> Salom :{{user.username}}</h2>
<h3><a href="{% url 'logout' %}">Saytdan chiqish</a></h3>
<h3> Siz haqingizdagi ma'lumotlar</h3>
    <img src="{{ profile.photo.url }}" alt="" style="width:150px; height:150px; border-radius: 60%;"><br>
    <label>Username:</label><input value="{{user.username}}" readonly><br>
    <label>Emailingiz:</label><input value="{{user.email}}" readonly><br>
    <label>Ismingiz:</label><input value="{{user.first_name}}"><br>
    <label>Familiyangiz:</label><input value="{{user.last_name}}">
    <p>Tugilgan yilingiz:{{profile.date_of_birth}}</p>
<h4 >
    <a href="{% url 'password_change' %}" style="color:red">Parolni ozgartirish</a> |
    <a href="{% url 'edit_user_information' %} " style="color:red"> Profilni ozgartirish</a>
</h4>
</div>

{% endblock %}