{% extends "news/base.html" %}
{% block title %}Siyosiy yangiliklar{% endblock %}
{% block content %}
<body>
   <div class="container">
    <div class="single_post_content">
        <h2><span>Siyosiy Yangiliklar</span></h2>
        <div class="single_post_content_left">
            <ul class="business_catgnav  wow fadeInDown">
                {% for siyosiy_one in siyosiy_yangiliklar %}
                  {% if forloop.counter == 1%}
                    <li>
                      <figure class="bsbig_fig"> <a href="{{siyosiy_one.get_absolute_url}}" class="featured_img"> <img alt="" src="{{ siyosiy_one.image.url }}"> <span class="overlay"></span> </a>
                      <figcaption> <a href="{{siyosiy_one.get_absolute_url}}">{{ siyosiy_one.title }}</a> </figcaption>
                      <p>{{ siyosiy_one.body | truncatewords:5 }}</p>
                      </figure>
                    </li>
                  {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="single_post_content_right">
            <ul class="spost_nav">
                {% for siyosat_new in siyosiy_yangiliklar %}
                {% if forloop.counter > 1%}
                <li>
                  <div class="media wow fadeInDown"> <a href="{{siyosat_new.get_absolute_url}}" class="media-left"> <img alt="" src="{{ siyosat_new.image.url }}"> </a>
                    <div class="media-body"> <a href="{{siyosat_new.get_absolute_url}}" class="catg_title">{{ siyosat_new.title }}</a> </div>
                  </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
{% endblock %}
